<div class="container hango-sites-container">
  <div class="row">
    <div class="col-sm-2 text-right">
      <%= link_to new_site_path, :class => 'hango-sites-add' do %>
        <i class="fa fa-plus"></i>
      <% end %>
    </div>
    <div class="col-sm-10">
      <div class="row">
        <% @sites.each do |site| %>

          <div class="col-sm-6">
            <%= link_to site_page_path(site_path: site.path), class: :thumbnail do %>
                <div><%= site.title %></div>
                <div class="text-muted">
                  <%= site.description %>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<%= debug @sites if Rails.env.development? %>
